body
{ background:#ffffff;
font-size: 125%;
margin: 10%
}

header{
  background: #1fde55;
  font-size: 100%;
}

h1 {
  display: inline-block;
}

h2 {
  background: #1fde55;
  padding: 10px 10px;
  margin: 5px;
}
section{ 
  display: inline-block;
  float: left;
}
